
body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fefefe;
    background-image: url('../images/backky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }

